<% @recipes.each do |recipe| %>
  <div class="recipe-card">
    <div class="recipe-btn-title">
      <h2 class="recipe-name"><%= recipe.name %> </h2>
      <% if can? :manage, recipe %>
        <%= button_to "REMOVE",
          user_recipe_path(user_id: recipe.user_id, id: recipe),  method: :delete,
          data: { confirm: "Are you sure?" },
          class: "btn-link" %>
      <% end %>
    </div>
    <div class="recipe-desc-holder">
      <p class="recipe-description"><%= recipe.description %></p>
      <% if can? :manage, recipe %>
        <%= link_to "See details", user_recipe_path(user_id: recipe.user_id, id: recipe.id), class:"btn-solid" %>
      <% elsif public? recipe %>
        <%= link_to "See details", user_recipe_path(user_id: recipe.user_id, id: recipe.id), class:"btn-solid" %>
      <% end %>
    </div>
  </div>
<% end %>