<table class="table">
  <tr>
    <th class="table-heading"> # </th>
    <th class="table-heading"><%= link_to "Food", sort:"food" %> </th>
    <th class="table-heading"><%= link_to "Quantity", sort: "quantity" %> </th>
    <th class="table-heading">Value </th>
    <th class="table-heading">Actions</th>
  </tr>
  <% @recipe_foods.each_with_index do |recipe_food, index| %>
    <tr class="table-row">
      <td class="table-content"><%= index + 1 %></td>
      <td class="table-content"><%= recipe_food.food.name %></td>
      <td class="table-content">
        <%= recipe_food.quantity %><%= recipe_food.food.measurement_unit %>
      </td>
      <td class="table-content"> $<%= recipe_food.food.price * recipe_food.quantity %> </td>
      <td class="table-content">
        <div class="buttons">
          <%= button_to "Update", user_recipes_path, method: :update, class: "btn-link" %>
          <%= button_to "Remove", user_recipes_path,  method: :delete, class: "btn-link" %>
        </div>
      </td>
    </tr>
  <% end %>
</table>
