<section class="recipe-details">
  <h2><%= @recipe.name %></h2>
  <div class="recipe-time">
    <%= @recipe.preparation_time %>
    <p class="recipe-prepartion"><strong>Preparation Time: </strong>
      <%= @recipe.preparation_time %> hours
    </p>
    <p class="recipe-cooking"><strong>Cooking Time:</strong>
      <%= @recipe.cooking_time %> hours
    </p>
    <%= button_to "Steps go here..",user_recipes_path, class: "btn-link" %>
  </div>
  <div class="recipe-button-group">
    <%= link_to "Generate Shopping List" ,user_recipes_path, class: "btn-solid" %>
    <%= link_to "Add Ingredient", user_recipes_path, class: "btn-solid" %>
  </div>
  <hr />
  <%= render partial: "table" %>
</section>