<section class="recipe-details">
  <h2><%= @recipe.name %></h2>
  <div class="recipe-time">
    <p class="recipe-prepartion"><strong>Preparation Time: </strong>
      <%= @recipe.preparation_time %> hours
    </p>
    <p class="recipe-cooking"><strong>Cooking Time:</strong>
      <%= @recipe.cooking_time %> hours
    </p>
    <%= button_to "Steps go here..",user_recipes_path, class: "btn-link-custom" %>
  </div>
  <div class="recipe-button-group">
    <%= link_to "Generate Shopping List" ,recipe_shopping_path, class: "btn-solid" %>
    <% if can? :manage, @recipe %>
      <%= link_to "Add Ingredient", new_user_recipe_recipe_food_path(user_id: @recipe.user_id, recipe_id: @recipe.id), class: "btn-solid" %>
    <%end%>
  </div>
  <hr />
  <%= render partial: "table" %>
</section>
