<h1>New Food</h1>
<%= form_with model: @food, url: user_foods_path, method: :post do |form| %>
  <div class="field form-group w-50">
    <%= form.label :name, class: "form-label" %><br>
    <%= form.text_field :name, class: "form-control" %>
  </div>
  <div class="field form-group w-50">
    <%= form.label :measurement_unit, class: "form-label" %><br>
    <%= form.text_field :measurement_unit, class: "form-control" %>
  </div>
  <div class="field form-group w-50">
    <%= form.label :price, class: "form-label" %><br>
    <%= form.number_field :price, step: :any, class: "form-control" %>
  </div>
  <div>
    <%= form.submit "Create Food", class: 'btn-solid my-3 px-5 py-2'%>
  </div>
<% end %>
