<h1>New Food</h1>
<%= form_with model: @food, url: user_foods_path, method: :post do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.label :measurement_unit %><br>
    <%= form.text_field :measurement_unit %>
  </p>
  <p>
    <%= form.label :price %><br>
    <%= form.number_field :price, step: :any %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
